body {
  /* max-width: 600px;
  max-height: 600px; */
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 10px;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 5px;
}

input {
  border-width: 0;
  border-style: none;
  outline: none;
}

.jumbotron {

  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 3px solid black;
  margin: 0 auto 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 7px;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;
  ;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  max-width: 600px;
  max-height: 600px;
  border-left: 1px solid black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #07f3b8;
  color: white;
}

.saveBtn i:hover {
  font-size: 8px;
  transition: all .3s ease-in-out;
}

.container {
  margin: 0 auto 0 auto;
}





.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

/* Weather Style */
main {
  display: flex;

}

section {
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.search-panel {
  width: auto;
  margin: 15px 50px 0 50px;
  padding: 10px 0 10px 10px;
  background-color: rgb(132, 159, 168);
  border-radius: 10px;
}

.search-field {
  width: 70%;
  display: inline;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.search-header {
  width: 100%;
  text-align: center;
}

#search-button {
  margin: 5px 10px 5px 10px;
  display: inline;
}

.city-name {
  width: 70%;
  margin: 0 auto 0 auto;
}

.city-input {
  width: 60%;

}

.city-list-box {
  margin-top: 5px;
}

.results-panel {
  width: 75%;
  padding-bottom: 10px;
  visibility: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.current-conditions-panel {
  border: 1px solid black;
  background-color: rgb(153, 211, 235);
  border-radius: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  margin-left: 50px;
  width: auto;
}

.name-block,
.uv-index-block {
  display: flex;
  align-items: center;
}

#uv-index {
  margin-left: 5px;
  padding: 5px 10px;
}

.forecast-panel {
  padding-top: 50px;
}

.weather-container {
  display: inline;
  border-radius: 10px;
}

.card-header,
.card-body {
  text-align: center;
}

.card-header {
  background-color: rgb(153, 211, 235);
  color: black;
}

.card-body {
  background-color: rgb(132, 159, 168);
}



.favorable {
  background-color: green;
  color: white;
}

.moderate {
  background-color: yellow;
  color: black;
}

.severe {
  background-color: red;
  color: white;
}


/* Viewports Styling*/

@media screen and (max-width: 575px) {
  .search-panel {
    width: 40%;
  }

  .search-button-panel {
    margin-left: 0px;
  }

  .search-panel h3 {
    font-size: 15px;
  }

  .form-row {
    display: block;
    text-align: center;
  }

  .results-panel {
    width: 60%;
  }
}